<ul>
    <li><a href="courses/WAFS">Web Apps From Scratch</a></li>
    <li><a href="courses/CSSTTR">CSS To The Rescue</a></li>
    <li><a href="courses/BT">Browser Technologies</a></li>
    <li><a href="courses/PWA">Progressive Web Apps</a></li>
    <li><a href="courses/RTW">Real-Time Web</a></li>
    <li><a href="courses/HCD">Human Centred Design</a></li>
    <li><a href="courses/MP">Meesterproef</a></li>
</ul>