<ul>
    <% data.forEach(course => { %>
        <% if (course.complete === false) { %>
            <li><a class="incomplete" href="<%= course.survey %>/<%= id %>"><%= course.courseName %></a></li>
        <% } else { %>
            <li class="complete"><%= course.courseName %><img src="/img/mark.svg" alt="checkmark"></li>
        <% } %>
    <% }) %>
</ul>