<ul>
    <li><a href="WAFS">Web Apps From Scratch</a></li>
    <li><a href="">CSS To The Rescue</a></li>
    <li><a href="">Browser Technologies</a></li>
    <li><a href="">Progressive Web Apps</a></li>
    <li><a href="">Progressive Web Apps</a></li>
    <li><a href="">Progressive Web Apps</a></li>
    <li><a href="">Meesterproef</a></li>
</ul>