<form action="post">
    <fieldset>
        <h2>Docenten</h2>
        <p>Web Apps From Scratch</p>

        <label for="docent">Docent</label>
        <input list="docenten" name="docent" id="docent">

        <datalist id="docenten">
            <option value="Jan Janneman"></option>
            <option value="Jan Janneman"></option>
            <option value="Jan Janneman"></option>
            <option value="Jan Janneman"></option>
            <option value="Jan Janneman"></option>
        </datalist>

        <label for="name">Naam</label>
        <input type="text" name="name" id="name">
    </fieldset>

    <fieldset>
        <h2>Datums</h2>
        <p>Web Apps From Scratch</p>

        <label for="begin">Begin vak</label>
        <input type="date" name="begin" id="begin">

        <label for="einde">Einde vak</label>
        <input type="date" name="einde" id="einde">
    </fieldset>

    <fieldset>
        <h2>Beoordeeling</h2>
        <p>Web Apps From Scratch</p>

        <p>Algemene beoordeling</p>
        <input type="radio" name="algemeen-beoordeling" id="algemeen-1">
        <label for="algemeen-1">1</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-2">
        <label for="algemeen-2">2</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-3">
        <label for="algemeen-3">3</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-4">
        <label for="algemeen-4">4</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-5">
        <label for="algemeen-5">5</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-6">
        <label for="algemeen-6">6</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-7">
        <label for="algemeen-7">7</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-8">
        <label for="algemeen-8">8</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-9">
        <label for="algemeen-9">9</label>

        <input type="radio" name="algemeen-beoordeling" id="algemeen-10">
        <label for="algemeen-10">10</label>

        <p>Moeilijkheidsgraad</p>
        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-1">
        <label for="moeilijkheidsgraad-1">1</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-2">
        <label for="moeilijkheidsgraad-2">2</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-3">
        <label for="moeilijkheidsgraad-3">3</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-4">
        <label for="moeilijkheidsgraad-4">4</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-5">
        <label for="moeilijkheidsgraad-5">5</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-6">
        <label for="moeilijkheidsgraad-6">6</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-7">
        <label for="moeilijkheidsgraad-7">7</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-8">
        <label for="moeilijkheidsgraad-8">8</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-9">
        <label for="moeilijkheidsgraad-9">9</label>

        <input type="radio" name="moeilijkheidsgraad" id="moeilijkheidsgraad-10">
        <label for="moeilijkheidsgraad-10">10</label>

        <p>Kwaliteit uitleg</p>
        <input type="radio" name="kwaliteit" id="kwaliteit-1">
        <label for="kwaliteit-1">1</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-2">
        <label for="kwaliteit-2">2</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-3">
        <label for="kwaliteit-3">3</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-4">
        <label for="kwaliteit-4">4</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-5">
        <label for="kwaliteit-5">5</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-6">
        <label for="kwaliteit-6">6</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-7">
        <label for="kwaliteit-7">7</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-8">
        <label for="kwaliteit-8">8</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-9">
        <label for="kwaliteit-9">9</label>

        <input type="radio" name="kwaliteit" id="kwaliteit-10">
        <label for="kwaliteit-10">10</label>
    </fieldset>

    <fieldset>
        <h2>Opmerking</h2>
        <p>Web Apps From Scratch</p>

        <label for="toevoeging">Wil je nog iets toevoegen?</label>
        <textarea name="toevoeging" id="toevoeging" cols="30" rows="10"></textarea>
    </fieldset>
</form> 