* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FB9600;
    --input-color: #F5F5F5;
    --input-border: #C5C5C5;
    --inactive-color: #C8C8C8; 
    --disabled-color: #E5E5E5; 
    --err-border-color: #ff683a;
    --err-input-color: #ffece7;

    --padding-big: 50px;
    --padding-tiny: 5px;
    --margin-big: 50px;
    --margin-tiny: 5px;

    --display-fieldset: block;
    --display-buttons: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    padding: var(--padding-big);
}

header,
.legend-subtitle {
    margin-bottom: 40px;
}

/* Fonts */
h1,
legend {
    font-weight: 500;
    font-size: 2.3em;
}

h1 span {
    display: block;
}

label,
h1 + p,
legend ~ p,
.legend-subtitle {
    font-weight: 300;
    font-size: 1.1em;
}

legend ~ p {
    margin-bottom: var(--margin-tiny);
}

input + p,
.radio-container + p {
    margin: 1px 0 8px;
    height: 1em;
    font-size: 0.9em;
    color: var(--err-border-color);
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

/* Forms */
fieldset {
    border: 0px;
    margin-bottom: 40px;
}

input {
    display: block;
}

input[type="text"],
input[type="date"],
input[list],
textarea {
    display: block;
    border-radius: 0px;
    height: 35px;
    background-color: var(--input-color);
    border: 1px solid var(--input-border);
    width: 100%;
    margin: var(--margin-tiny) 0 0;
    padding-left: 10px;
    font-family: inherit;
    color: #707070;
}

input[type="text"].invalid,
input[type="date"].invalid,
input[list].invalid,
textarea.invalid {
    border: 1px solid var(--err-border-color);
    background-color: var(--err-input-color);
}

input[type="submit"],
.next-button {
    background-color: var(--main-color);
    border: 0px;
    width: 110px;
    height: 40px;
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

input[type="date"] {
    /* width: auto;
    min-width: 150px; */
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
}

input[type="radio"] + label {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    padding: calc(100% / 2 - 14px) 0;
    border: 2px solid var(--inactive-color);
    text-align: center;
    margin-bottom: calc(100% - 50px);
    color: #9C9C9C;
}

input[type="radio"]:focus + label,
input[type="radio"]:checked + label {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: 500;
    background-color: #FFF;
}

.button-container {
    margin: 40px auto 0;
    display: flex;
    position: relative;
}

.back-button {
    width: 40px;
}

.next-button {
    padding-top: 8px;

}

.radio-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 300px;
}

.radio-container.invalid {
    background-color: var(--err-input-color);
}

textarea {
    height: auto;
    padding: 10px;
}

fieldset {
    display: none;
}

fieldset:nth-of-type(1),
fieldset:valid + fieldset {
    display: var(--display-fieldset);
}

.next-button {
    display: var(--display-buttons);
}

/* Courses page */
li {
    list-style-type: none;
    border: 2px solid var(--inactive-color);
    margin-bottom: 10px;
}

li:focus,
li:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

li a,
li a:visited,
.complete {
    color: #9C9C9C;
    font-size: 1.1em;
    display: block;
    padding: 8px 15px;
}

li a:focus,
li a:hover {
    color: var(--main-color);
}

.complete,
.complete:hover,
.complete:focus {
    color: #CBCBCB;
    border: 2px solid var(--disabled-color);
    display: flex;
    padding-right: 20px;
}

.complete img {
    margin-left: auto;
}
