<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/progressBar') %>
    <%- include('../partials/formContent') %>
    <script src="/js/localStorage.js" type="module"></script>
    <script src="/js/splitForm.js" type="module"></script>
</body>

</html>