<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <h1>Hi, Wat is je naam?</h1>

    <form action="/" method="post">
        <label for="name">Naam</label>
        <input type="text" name="name" id="name">

        <label for="studentId">Studentennummer</label>
        <input type="text" name="studentId" id="studentId">

        <input type="submit" value="Log in">
    </form>
</body>

</html>