<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <h1><span>Hi,</span> Wat is je naam?</h1>
    </header>

    <main>
        <form action="/" method="post" id="login">
            <fieldset>
                <label for="name">Naam</label>
                <input type="text" name="name" id="name" required>
                <p id="err-name"></p>

                <label for="studentId">Studentennummer</label>
                <input type="text" name="studentId" id="studentId" required>
                <p id="studentId"></p>

                <input type="submit" value="Next">
            </fieldset>
        </form>
    </main>

    <script src="/js/localStorage.js" type="module"></script>
</body>

</html>