<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <h1>Beoordeel vakken</h1>
        <p>Selecteer een vak</p>
    </header>

    <main>
        <%- include('../partials/courses') %>
    </main>
</body>

</html>